/prj/eclipse/Release/BOViL
/prj/eclipse/Release/source/main.d
/prj/eclipse/Release/source/main.o
/prj/eclipse/SHARED_LIBRARY/libBOViL.so
/prj/eclipse/SHARED_LIBRARY/makefile
/prj/eclipse/SHARED_LIBRARY/objects.mk
/prj/eclipse/SHARED_LIBRARY/source/algorithms/segmentation/SegmentedRLEObject.d
/prj/eclipse/SHARED_LIBRARY/source/algorithms/segmentation/SegmentedRLEObject.o
/prj/eclipse/SHARED_LIBRARY/source/algorithms/segmentation/subdir.mk
/prj/eclipse/SHARED_LIBRARY/source/core/types/ColorClusterSpace.d
/prj/eclipse/SHARED_LIBRARY/source/core/types/ColorClusterSpace.o
/prj/eclipse/SHARED_LIBRARY/source/core/types/ColorSpaceHSV8.d
/prj/eclipse/SHARED_LIBRARY/source/core/types/ColorSpaceHSV8.o
/prj/eclipse/SHARED_LIBRARY/source/core/types/subdir.mk
/prj/eclipse/SHARED_LIBRARY/source/main.d
/prj/eclipse/SHARED_LIBRARY/source/main.o
/prj/eclipse/SHARED_LIBRARY/source/subdir.mk
/prj/eclipse/SHARED_LIBRARY/sources.mk
/prj/eclipse/Debug/BOViL
/prj/eclipse/Debug/makefile
/prj/eclipse/Debug/objects.mk
/prj/eclipse/Debug/source/algorithms/segmentation/SegmentedRLEObject.d
/prj/eclipse/Debug/source/algorithms/segmentation/SegmentedRLEObject.o
/prj/eclipse/Debug/source/algorithms/segmentation/subdir.mk
/prj/eclipse/Debug/source/core/types/ColorClusterSpace.d
/prj/eclipse/Debug/source/core/types/ColorClusterSpace.o
/prj/eclipse/Debug/source/core/types/ColorSpaceHSV8.d
/prj/eclipse/Debug/source/core/types/ColorSpaceHSV8.o
/prj/eclipse/Debug/source/core/types/subdir.mk
/prj/eclipse/Debug/source/main.d
/prj/eclipse/Debug/source/main.o
/prj/eclipse/Debug/source/subdir.mk
/prj/eclipse/Debug/sources.mk
/prj/eclipse/Release/source/algorithms/segmentation/SegmentedRLEObject.o
/prj/eclipse/Release/source/core/types/ColorClusterSpace.o
/prj/eclipse/Release/source/core/types/ColorSpaceHSV8.o
/prj/eclipse/Release/objects.mk
/prj/eclipse/Release/source/algorithms/segmentation/SegmentedRLEObject.d
/prj/eclipse/Release/source/algorithms/segmentation/subdir.mk
/prj/eclipse/Release/source/core/types/ColorSpaceHSV8.d
/prj/eclipse/Release/source/core/types/subdir.mk
/prj/eclipse/Release/source/subdir.mk
/prj/eclipse/Release/sources.mk
/prj/eclipse/Release/source/core/types/ColorClusterSpace.d
/prj/vs12/*.sdf
/prj/vs12/*.suo
/prj/vs12/Debug
/prj/vs12/Release
/prj/vs12/*.opensdf
/prj/vs12/*.user
/prj/vs12/*.psess
/prj/vs12/*.vsp
