/prj/linux/BOViL
/prj/eclipse/Release/BOViL
/prj/eclipse/Release/source/main.d
/prj/eclipse/Release/source/main.o
/prj/eclipse/SHARED_LIBRARY/*
/prj/eclipse/Debug/*
/prj/eclipse/Release/*
/prj/vs12/*.sdf
/prj/vs12/*.suo
/prj/vs12/Debug
/prj/vs12/Release
/prj/vs12/*.opensdf
/prj/vs12/*.user
/prj/vs12/*.psess
/prj/vs12/*.vsp
/prj/eclipse/BOViL
/prj/eclipse/makefile~
/prj/ModelingProject1/*.classdiagram
/prj/ModelingProject1/*.layout
/prj/ModelingProject1/ModelDefinition/*.uml
/prj/ModelingProject1/*.modelproj
/library/prj/vs12/*.suo
/library/prj/vs12/*.sdf
/library/prj/eclipse/Release
/library/prj/vs12/Debug
/Tests/test_matrix/prj/vs12/*.sdf
/Tests/test_matrix/prj/vs12/testMatrix.v11.suo
/Tests/test_matrix/prj/vs12/Debug
/Tests/test_socket_client/prj/vs12/Debug
/Tests/test_socket_server/prj/vs12/Debug
/Tests/test_segmentation/prj/vs12/Debug
/Tests/test_segmentation/prj/vs12/*.sdf
/Tests/test_segmentation/prj/vs12/*.suo
/Tests/test_socket_client/prj/vs12/*.sdf
/Tests/test_socket_client/prj/vs12/*.suo
/Tests/test_socket_server/prj/vs12/*.sdf
/Tests/test_socket_server/prj/vs12/*.suo
/Tests/test_socket_client/prj/vs12/*.user
/Tests/test_socket_server/prj/vs12/*.user
/library/prj/vs12/*.opensdf
/Tests/test_socket_server/prj/vs12/*.opensdf
/Tests/test_socket_multithreadserver/prj/vs12/Debug
/Tests/test_socket_multithreadserver/prj/vs12/*.opensdf
/Tests/test_socket_multithreadserver/prj/vs12/*.sdf
/Tests/test_socket_multithreadserver/prj/vs12/*.suo
/Tests/test_socket_multithreadserver/prj/vs12/*.user
/library/prj/vs12/*.user
/Tests/test_segmentation/prj/vs12/*.user
/Tests/test_ekf_sockets/server_side/prj/vs13/Debug
/Tests/test_ekf_sockets/client_side/prj/vs13/*.sdf
/Tests/test_ekf_sockets/client_side/prj/vs13/*.suo
/Tests/test_ekf_sockets/client_side/prj/vs13/*.user
/Tests/test_ekf_sockets/client_side/prj/vs13/Debug
/library/prj/vs13/Debug/BOVIL.tlog
/library/prj/vs13/Debug
/library/prj/vs13/*.sdf
/library/prj/vs13/*.suo
/Tests/test_ekf_sockets/client_side/prj/vs13/Release
/library/prj/vs13/Release/BOVIL.tlog
/library/prj/vs13/Release
/Tests/test_ekf_sockets/server_side/prj/vs13/*.suo
/Tests/test_ekf_sockets/server_side/prj/vs13/*.sdf
/Tests/test_ekf_sockets/server_side/prj/vs13/*.user
/Tests/test_ekf_sockets/server_side/prj/vs13/Release
/Tests/test_socket_server/prj/vs13/Debug/testSocketServer.tlog
/Tests/test_socket_server/prj/vs13/Release/testSocketServer.tlog
/Tests/test_socket_server/prj/vs13/Release
/Tests/test_socket_server/prj/vs13/*.suo
/Tests/test_socket_server/prj/vs13/Debug
/Tests/test_socket_server/prj/vs13/*.sdf
/Tests/test_ekf_sockets/server_side/prj/vs13/*.opensdf
