/prj/linux/BOViL
/prj/eclipse/Release/BOViL
/prj/eclipse/Release/source/main.d
/prj/eclipse/Release/source/main.o
/prj/eclipse/SHARED_LIBRARY/*
/prj/eclipse/Debug/*
/prj/eclipse/Release/*
/prj/vs12/*.sdf
/prj/vs12/*.suo
/prj/vs12/Debug
/prj/vs12/Release
/prj/vs12/*.opensdf
/prj/vs12/*.user
/prj/vs12/*.psess
/prj/vs12/*.vsp
/prj/eclipse/BOViL
/prj/eclipse/makefile~
/prj/ModelingProject1/*.classdiagram
/prj/ModelingProject1/*.layout
/prj/ModelingProject1/ModelDefinition/*.uml
/prj/ModelingProject1/*.modelproj
/library/prj/vs12/*.suo
/library/prj/vs12/*.sdf
/library/prj/eclipse/Release
/library/prj/vs12/Debug
/Tests/test_matrix/prj/vs12/*.sdf
/Tests/test_matrix/prj/vs12/testMatrix.v11.suo
/Tests/test_matrix/prj/vs12/Debug
/Tests/test_socket_client/prj/vs12/Debug
/Tests/test_socket_server/prj/vs12/Debug
/Tests/test_segmentation/prj/vs12/Debug
/Tests/test_segmentation/prj/vs12/*.sdf
/Tests/test_segmentation/prj/vs12/*.suo
/Tests/test_socket_client/prj/vs12/*.sdf
/Tests/test_socket_client/prj/vs12/*.suo
/Tests/test_socket_server/prj/vs12/*.sdf
/Tests/test_socket_server/prj/vs12/*.suo
/Tests/test_socket_client/prj/vs12/*.user
/Tests/test_socket_server/prj/vs12/*.user
/library/prj/vs12/*.opensdf
/Tests/test_socket_server/prj/vs12/*.opensdf
/Tests/test_socket_multithreadserver/prj/vs12/Debug
/Tests/test_socket_multithreadserver/prj/vs12/*.opensdf
/Tests/test_socket_multithreadserver/prj/vs12/*.sdf
/Tests/test_socket_multithreadserver/prj/vs12/*.suo
/Tests/test_socket_multithreadserver/prj/vs12/*.user
/library/prj/vs12/*.user
/Tests/test_segmentation/prj/vs12/*.user
/Tests/test_ekf_sockets/server_side/prj/vs13/Debug
/Tests/test_ekf_sockets/client_side/prj/vs13/*.sdf
/Tests/test_ekf_sockets/client_side/prj/vs13/*.suo
/Tests/test_ekf_sockets/client_side/prj/vs13/*.user
/Tests/test_ekf_sockets/client_side/prj/vs13/Debug
/library/prj/vs13/Debug/BOVIL.tlog
/library/prj/vs13/Debug
/library/prj/vs13/*.sdf
/library/prj/vs13/*.suo
/Tests/test_ekf_sockets/client_side/prj/vs13/Release
/library/prj/vs13/Release/BOVIL.tlog
/library/prj/vs13/Release
/Tests/test_ekf_sockets/server_side/prj/vs13/*.suo
/Tests/test_ekf_sockets/server_side/prj/vs13/*.sdf
/Tests/test_ekf_sockets/server_side/prj/vs13/*.user
/Tests/test_ekf_sockets/server_side/prj/vs13/Release
/Tests/test_socket_server/prj/vs13/Debug/testSocketServer.tlog
/Tests/test_socket_server/prj/vs13/Release/testSocketServer.tlog
/Tests/test_socket_server/prj/vs13/Release
/Tests/test_socket_server/prj/vs13/*.suo
/Tests/test_socket_server/prj/vs13/Debug
/Tests/test_socket_server/prj/vs13/*.sdf
/Tests/test_ekf_sockets/server_side/prj/vs13/*.opensdf
/library/prj/vs13/*.opensdf
*.o
*.a
/Test/test_matrix/prj/linux/BOVIL
/Tests/test_time/prj/vs13/Debug
/Tests/test_time/prj/vs13/*.sdf
/Tests/test_time/prj/vs13/*.suo
/Tests/test_socket_multithreadserver/prj/vs13/Debug/test_soc.74B86451.tlog/*.tlog
/Tests/test_socket_multithreadserver/prj/vs13/Debug
/Tests/test_socket_multithreadserver/prj/vs13/*.sdf
/Tests/test_socket_multithreadserver/prj/vs13/*.opensdf
/Tests/test_socket_multithreadserver/prj/vs13/*.suo
/Tests/test_socket_multithreadserver/prj/vs13/*.user
/Tests/test_ekf_sockets/server_side/prj/vs12/Debug/*.tlog
/Tests/test_ekf_sockets/server_side/prj/vs12/Debug
/Tests/test_ekf_sockets/server_side/prj/vs12/*.opensdf
/Tests/test_ekf_sockets/server_side/prj/vs12/*.sdf
/Tests/test_ekf_sockets/server_side/prj/vs12/*.suo
/Tests/test_ekf_sockets/server_side/prj/vs12/*.user
/Tests/test_segmentation/prj/vs12/Release
/Tests/test_segmentation/prj/vs13/Debug
/Tests/test_segmentation/prj/vs13/Release/testSegmentation.tlog
/Tests/test_segmentation/prj/vs13/Release
/Tests/test_segmentation/prj/vs13/*.sdf
/Tests/test_segmentation/prj/vs13/*.suo
/Tests/test_segmentation/prj/vs13/*.user
/Tests/test_matrix/prj/vs13/Debug
/Tests/test_matrix/prj/vs13/*.sdf
/Tests/test_matrix/prj/vs13/*.suo
/library/prj/vs13/ipch/bovil-b0db740a
/Tests/test_matrix/prj/vs13/*.opensdf
/library/prj/vs13/*.user
/Tests/test_ekf_sockets/client_side/prj/vs13/*.psess
/Tests/test_ekf_sockets/client_side/prj/vs13/*.vsp
/Tests/test_segmentation/prj/vs13/*.opensdf
/Tests/test_segmentation/prj/vs13/*.psess
/Tests/test_segmentation/prj/vs13/*.vsp
/Tests/test_groundEKF/prj/vs12
/Tests/test_groundEKF/prj/vs13/Debug
/Tests/test_groundEKF/prj/vs13/*.opensdf
/Tests/test_groundEKF/prj/vs13/*.sdf
/Tests/test_groundEKF/prj/vs13/*.suo
/Tests/test_groundEKF/prj/vs13/Release
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/Debug
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/*.opensdf
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/*.sdf
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/*.suo
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/Debug
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/*.sdf
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/*.suo
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/*.opensdf
/Tests/test_image_capture/prj/Debug/test_ima.BA49500C.tlog
/Tests/test_image_capture/prj/Debug
/Tests/test_image_capture/prj/Release/test_ima.BA49500C.tlog
/Tests/test_image_capture/prj/Release
/Tests/test_image_capture/prj/*.sdf
/Tests/test_image_capture/prj/*.suo
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/Debug/EC-SAFEM.9DA53BE2.tlog
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/Debug
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/*.sdf
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/*.suo
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/*.opensdf
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/*.user
/Tests/test_image_capture/prj/vs13/Debug/test_ima.BA49500C.tlog
/Tests/test_image_capture/prj/vs13/Debug
/Tests/test_image_capture/prj/vs13/*.sdf
/Tests/test_image_capture/prj/vs13/*.suo
/Tests/test_image_capture/prj/vs13/*.opensdf
/Tests/test_image_capture/prj/vs13/*.user
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/Release/EC-SAFEM.9DA53BE2.tlog
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/Release
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/*.psess
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/*.vsp
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/Debug/EC-SAFEM.9DA53BE2.tlog
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/Debug
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/*.sdf
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/*.suo
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/*.user
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/Release/EC-SAFEM.9DA53BE2.tlog
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/Release
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/*.opensdf
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/*.psess
/Projects/EC-SAFEMOBIL/quad/Test_Image_Acquisition_And_Storage/prj/vs13/*.vsp
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/*.user
/Tests/test_socket_client/prj/vs13/Debug
/Tests/test_socket_client/prj/vs13/*.sdf
/Tests/test_socket_client/prj/vs13/*.suo
/Tests/test_socket_client/prj/vs13/*.user
/Tests/test_socket_server/prj/vs13/*.user
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/Release
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/*.psess
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/*.vsp
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/in_log.txt
/Projects/EC-SAFEMOBIL/quad/Tracking_Ground_Objects/prj/vs13/comm_log.txt
/Tests/test_ground_triangulation/prj/vs13/Debug
/Tests/test_ground_triangulation/prj/vs13/*.sdf
/Tests/test_ground_triangulation/prj/vs13/*.suo
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/Debug/EC-SAFEM.9DA53BE2.tlog
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/Debug
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/*.sdf
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/*.suo
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/in_log.txt
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/out_log.txt
/Projects/EC-SAFEMOBIL/Simulations - VREP/Plugins/Vision Segmentation - CCS/prj/vs13/Debug/v_repExt.D59AD76A.tlog
/Projects/EC-SAFEMOBIL/Simulations - VREP/Plugins/Vision Segmentation - CCS/prj/vs13/Debug
/Projects/EC-SAFEMOBIL/Simulations - VREP/Plugins/Vision Segmentation - CCS/prj/vs13/*.sdf
/Projects/EC-SAFEMOBIL/Simulations - VREP/Plugins/Vision Segmentation - CCS/prj/vs13/*.suo
/Projects/EC-SAFEMOBIL/Simulations - VREP/Plugins/Vision Segmentation - CCS/prj/vs13/*.user
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/*.user
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Ground_Objects/prj/vs13/*.txt
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/*.opensdf
/Projects/EC-SAFEMOBIL/ground_station/Tracking_Stereo/prj/vs13/*.txt
/Projects/EC-SAFEMOBIL/quad/Using_Offline_Data/Ground_Tracking/prj/vs13/Debug/EC-SAFEM.9DA53BE2.tlog
/Projects/EC-SAFEMOBIL/quad/Using_Offline_Data/Ground_Tracking/prj/vs13/Debug
/Projects/EC-SAFEMOBIL/quad/Using_Offline_Data/Ground_Tracking/prj/vs13/*.sdf
/Projects/EC-SAFEMOBIL/quad/Using_Offline_Data/Ground_Tracking/prj/vs13/*.suo
/Projects/EC-SAFEMOBIL/quad/Using_Offline_Data/Ground_Tracking/prj/vs13/*.user
/Tests/test_groundEKF/prj/vs13/outputFile_GroundTracking.txt
/Tests/test_segmentation/prj/vs13/outputFile_StereoTracking.txt
/Tests/test_cases/prj/Debug
/Tests/test_cases/prj/outputFile_GroundTracking.txt
/Tests/test_cases/prj/*.sdf
/Tests/test_cases/prj/*.suo
/Tests/test_sockets_UDP/client/prj/Debug
/Tests/test_sockets_UDP/client/prj/*.sdf
/Tests/test_sockets_UDP/client/prj/*.suo
/Tests/test_sockets_UDP/client/prj/*.opensdf
/Tests/test_sockets_UDP/server/prj/Debug
/Tests/test_sockets_UDP/server/prj/*.opensdf
/Tests/test_sockets_UDP/server/prj/*.sdf
/Tests/test_sockets_UDP/server/prj/*.suo
/Tests/test_sockets_UDP/client/prj/*.user
/Tests/test_sockets_UDP/server/prj/*.user
/Tests/test_sockets_TCP/test_socket_client/prj/vs13/Debug
/Tests/test_sockets_TCP/test_socket_server/prj/vs13/Debug/testSocketServer.tlog
/Tests/test_sockets_TCP/test_socket_server/prj/vs13/Debug
/Tests/test_sockets_TCP/test_socket_client/prj/vs13/*.opensdf
/Tests/test_sockets_TCP/test_socket_client/prj/vs13/*.sdf
/Tests/test_sockets_TCP/test_socket_client/prj/vs13/*.suo
/Tests/test_sockets_TCP/test_socket_client/prj/vs13/*.user
/Tests/test_sockets_TCP/test_socket_server/prj/vs13/*.opensdf
/Tests/test_sockets_TCP/test_socket_server/prj/vs13/*.sdf
/Tests/test_sockets_TCP/test_socket_server/prj/vs13/*.suo
/Tests/test_sockets_TCP/test_socket_server/prj/vs13/*.user
/Tests/test_sockets_TCP/test_socket_multithreadserver/prj/vs13/Debug/test_soc.74B86451.tlog
/Tests/test_sockets_TCP/test_socket_multithreadserver/prj/vs13/Debug
/Tests/test_sockets_TCP/test_socket_multithreadserver/prj/vs13/*.opensdf
/Tests/test_sockets_TCP/test_socket_multithreadserver/prj/vs13/*.sdf
/Tests/test_sockets_TCP/test_socket_multithreadserver/prj/vs13/*.suo
/Tests/test_sockets_TCP/test_socket_multithreadserver/prj/vs13/*.user
/Tests/test_sockets_UDP/client/prj/vs13/Debug
/Tests/test_sockets_UDP/server/prj/vs13/Debug/serverUDP.tlog
/Tests/test_sockets_UDP/server/prj/vs13/Debug
/Tests/test_sockets_UDP/client/prj/vs13/*.sdf
/Tests/test_sockets_UDP/client/prj/vs13/*.suo
/Tests/test_sockets_UDP/client/prj/vs13/*.user
/Tests/test_sockets_UDP/server/prj/vs13/*.sdf
/Tests/test_sockets_UDP/server/prj/vs13/*.suo
/Tests/test_sockets_UDP/server/prj/vs13/*.user
/library/prj_assets/vs13/BOViL_assets/Debug/BOViL_assets.tlog
/library/prj_assets/vs13/BOViL_assets/Debug
/library/prj_assets/vs13/Debug
/library/prj_assets/vs13/*.opensdf
/library/prj_assets/vs13/*.sdf
/library/prj_assets/vs13/*.suo
